body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  height: 91.3vh;
  display: flex;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
}

.actions-container{
  min-width: 500px;
  margin: 20px 0px;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-container{
  min-width: 937px;
}

.divider{
  border: 1px solid rgba(119, 119, 119, 0.158);
  background-color: rgba(119, 119, 119, 0.158);
}

.heading-container,
.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  font-size: 54px;
  border-bottom: 4px solid blue;
  color: blue;
  border-radius: 10px;
  height: 100%;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  width: 100%;
  height: 87%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.add-event-container{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: auto;
  padding: 50px 50px;
}

.filter-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form{
  width: 65%;
  height: fit-content;
  padding: 5px 30px;
  box-shadow: 0 0 10px -3px black;
}

.filters{
  width: 65%;
  height: 62%;
  padding: 5px 30px;
  box-shadow: 0 0 10px -3px black;
}

.full-width{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1100px) {
  .app-container{
    flex-direction: column;
  }
  .box-container{
    overflow: none;
    height: fit-content;
  }
  .box-container > div{
    width: 65% !important;
  }
  .events-container{
    min-width: 500px;
  }
}